Tuple: immutable, ordered, fixed length, ()

In [1]:
tup = (1,2,3)
tup

(1, 2, 3)

In [2]:
# without parenthesis
tupp = 1,2,3
tupp

(1, 2, 3)

In [5]:
# can convert any sequence/object to tuple using tuple function
tuple([2,3,4,5])

(2, 3, 4, 5)

In [6]:
tup = tuple("kkakdfjks")
tup

('k', 'k', 'a', 'k', 'd', 'f', 'j', 'k', 's')

In [7]:
# Access elements by []
tup[6]

'j'

In [8]:
nes = ([1,2,3],[2],(1))
nes

([1, 2, 3], [2], 1)

In [9]:
nes[0]

[1, 2, 3]

In [10]:
nes[0][1]

2

In [11]:
nes[0][1] = 5

In [12]:
nes

([1, 5, 3], [2], 1)

In [13]:
nested_tuple = (2,3,4),(1,3,4)
nested_tuple

((2, 3, 4), (1, 3, 4))

In [14]:
# Thus it is possible to manipulate the inside objects of tuple, which are mutable but not the tuple's object
nested_tuple[0][0] = 1
# this gives an error

TypeError: 'tuple' object does not support item assignment

In [20]:
# WE can CONCATATE different tuple using '+'
conctup = tup + nested_tuple
conctup

('k', 'k', 'a', 'k', 'd', 'f', 'j', 'k', 's', (2, 3, 4), (1, 3, 4))

In [26]:
tup = (1,2,3,4)
tup

(1, 2, 3, 4)

In [28]:
# Multiplying by an integer, concatenate the tuple that many times
tup = tup*2
tup
# Note that the object is not copied but only the reference to them is

(1, 2, 3, 4, 1, 2, 3, 4)

In [32]:
# Unpacking the tuple
# If use try to assign to a tuple-like expression of variables, Python will unpack the values on the righthand side
tup = (1,3,[1,3])
a,b,[c,d] = tup
b

3

In [33]:
# using this unpacking you can easily SWAP the variables
a,b=b,a # To swap in python
a

3

In [38]:
# A common use of unpacking is iterating over a sequence of tuple or lists
seq = ((1,2,3),(4,5,6))

for(a,b,c) in seq:
    print(f'a={a},b={b},c={c}')

a=1,b=2,c=3
a=4,b=5,c=6

In [42]:
# When we only want to unpack few elements from the beginning we use *muskan. '*'followed_by_any_char
tup = (1,2,3,4,5)
a,b,*muskan = tup
a

1

In [43]:
muskan

[3, 4, 5]

In [46]:
# To count the times the no. of element is present
tup.count(1)

1