FUNCTIONS:- When needing to repeat the similiar code, increases readability

In [2]:
# Declaration: by "def" keyword. "return" keyword is optional in function
def my_function(x, y):
    return x-y

In [3]:
checking_function = my_function(4,1)
checking_function

3

In [4]:
# If "return" keyword is not used then funtion returns "None"
def without_return_function(x,y):
    print(x)

check = without_return_function(2,6)
print(check)

2
None

In [5]:
# Each function can have "positional argument" or "keyword argument"
# For DEFAULT VALUE we use "keyword argument"
def any_function(x,y,z=9):
    if(z>5):
        return z*(x+y)
    else:
        return z*(x-y)

In [6]:
any_function(1,2)

27

In [7]:
# In "any_function": x and y are "positional argument". They must be specified when calling a function
#                : z is "keyword argument" it is not compulsory to pass this value
any_function(1,2,3)

-3

In [8]:
any_function(9,8,z=5)

5

In [9]:
# If a function contains both "positional" and "keyword" argument then positional arguments must be written first and 
# then the keyword arguments. Also when we are calling the function then keyword arguments can be passed in any order.
# we aren't suppose to remember their order but their names...
def any_fuc(z=1,x,y):
    return z

SyntaxError: parameter without a default follows parameter with a default (4048046209.py, line 4)

In [10]:
def any_function(x,y,z1=1,z2=2):
    return z1*z2

In [11]:
any_function(4,5, z2 = 10, z1 = 11)

110

Namespaces

In [53]:
# Functions can access the variables inside the function and outside the function(in global scope).
# Variable scope is called as Namespace. 
# Any variable assigned within a function, by default are assigned to local namesapace. Local namespace is created when
# the funtion is called and immediately populated by the function's arguments. After the function is finished, local
# namespace is detroyed.

# declaring locally
def func():
    lst1=[]
    for i in range(5):
        lst1.append(i)   
        print(list(lst1))

In [54]:
func()

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]

In [55]:
lst1

NameError: name 'lst1' is not defined

In [60]:
# declaring globally:- allows functions to modify the variables 
lst2=[]
def func():
    for i in range(5):
        lst2.append(i)   
        print(list(lst2))

In [62]:
func()

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]

In [63]:
lst2

[0, 1, 2, 3, 4]

In [64]:
func()
lst2

[0, 1, 2, 3, 4, 0]
[0, 1, 2, 3, 4, 0, 1]
[0, 1, 2, 3, 4, 0, 1, 2]
[0, 1, 2, 3, 4, 0, 1, 2, 3]
[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [67]:
# We can return multiple values with simple syntax. It returns them as tuple
def a_function():
    a = 1 
    b = 2 
    c = 3
    return a,b,c

In [71]:
# unpacking the tuple
a,b,c = a_function()

In [73]:
# Another way to return multiple values is returning using dictionary
def b_function():
    a = 1 
    b = 2 
    c = 3
    return {"a":a, "b":b, "c":c}

In [74]:
b_function()

{'a': 1, 'b': 2, 'c': 3}

In [75]:
# DATA CLEANING of strings using functions
string1 = ["  albama", "!#$USA", "FloRIdA"]

In [78]:
import re
string1[0] = "  albama"
string1[0] = string1[0].strip() # strip() removes the whitespaces
string1[0]

'albama'

In [79]:
string1[2] = string1[2].title() # title() function capitallizes the first letter in a word and remaining to small char
string1[2]

'Florida'

In [82]:
string1[1] = re.sub("[!@#$%^&*()]","",string1[1])
string1

['albama', 'USA', 'Florida']

In [83]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda", "south   carolina##", "West virginia?"]
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

In [85]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

Lambda:  “we are declaring an anonymous function”:

In [ ]:
# lambda functions are a way of writing anonymous single statement functions
def short_funtion(x)
    return x*2 

# this function is equal to 
lambda_function = lambda x: x*2

In [87]:
# applying to lists
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

lst = ["foo", "card", "bar", "aaaa", "abab"]

apply_to_list(lst, lambda x: len(set(x)))

[2, 4, 3, 1, 2]

Generator

In [103]:
# To iterate over an obeject
iterator = iter({1:2})
list(iterator)

[1]

In [106]:
# NOTE: while printing string using print function. We should write write f before string. ex:
print(f"a")

a